.h1NifNieCif {
  text-align: center;
  padding-top: 2%;
}

.h2NifNieCif {
  margin: 7%;
  text-align: center;
}

.divLabelNifNieCif {
  text-align: center;
  padding: 5px;
  border: 1px solid #d3d3d3;
  margin: 5%;
}

.labelNifNieCif {
  margin-top: .5rem;
}

.button {
  text-align: center;
}
